.random-matcher {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: "Nanum Gothic", Arial;

    .setting-panel {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 600px;
        border: 1px solid #000;
        float: left;
        position: absolute;

        &.hide {
            display: none;
        }

        .data-field {
            height: 555px;
            width: 580px;
            padding: 5px;
            margin: 5px;
            font-family: inherit;
        }

        .setting-button-area {
            text-align: right;

            .btn {
                height: 25px;
                margin-right: 10px;

                &.primary {
                    background-color: navy;
                    color: #fff;
                }
            }
        }
    }

    .game-area {
        flex: 1;
        width: 100%;
        height: 100%;

        .candidate-list,
        .group-list {
            display: flex;
            flex-direction: row;
        }

        .btn {
            &.match-btn {
                width: 300px;
                height: 100px;
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 150px);
                font-size: 50px;

                &.re-match {
                    left: unset;
                    top: 0;
                    right: 0;
                    width: auto;
                    height: auto;
                    font-size: 20px;
                    opacity: 0.5;
                }
            }
        }

        .candidate-list {
            margin-top: auto;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            position: absolute;
        }

        .group-list {
            margin-top: 0;
            top: 0;
            left: 0;
            margin-bottom: auto;
            position: absolute;
        }

        .group-item {
            display:flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;

            .group-image {
                background-color: #fff;
                width: 100%;
                border-radius: 50%;
            }

            .group-name {
                width: 100%;
                background-color: #fff;
                font-size: 25px;
            }
        }

        .result-wrapper {
            background-color: rgba(255,255,255, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            z-index: 100;

            .button-wrapper {
                position: absolute;
                top: 90%;
                left: calc(50% - 150px);

                .btn {
                    width: 300px;
                    height: 100px;
                    font-size: 50px;

                    .next-btn {
                        background-color: dodgerblue;
                        color: #fff;
                    }
                }
            }

            .couple-wrapper {
                margin: 10% 15%;
                display: flex;
                flex-direction: row;
                background-color: #fff;
                border-radius: 10px;

                &.invisible {
                    opacity: 0;
                }

                .group-item {
                    margin: 5%;

                    .group-name {
                        font-size: 42px;
                    }
                }
            }
        }

        .transition-show {
            transition: opacity 2s;
        }

        &.result-credit {
            display: flex;
            flex: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 200;

            .credit-wrapper {
                margin: 10px 0 0 10px;
                display: block;
                text-align: center;

                .couple-wrapper {
                    display: inline-flex;
                    margin: 50px 40px;
                    height: 200px;
                    width: 400px;

                    .group-name {
                        border-radius: 3px;
                        margin: 10px auto;
                        padding: 0 10px;
                        width: auto;
                    }
                }
            }
        }
    }


    .hide {
        display: none !important;
    }
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}